@use 'layout/body' as *;
@use 'layout/header' as *;
@use 'layout/footer' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'components/cards-menu' as *;
@use 'components/cards-homepage' as *;
@use 'components/buttons' as *;

main img {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Roboto', sans-serif;
}

// HEADER
header {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  align-items: center;
  div {
    @include displayflex();
  }
}
main {
  background-color: $light-grey-color;
}
