@use '../mixins' as *;
@use '../variables' as *;

footer {
  background-color: $dark-grey-color;
  padding: 20px;
  img {
    filter: invert(100%);

    height: 27px;
    width: 139px;
    padding-bottom: 20px;
  }
  .footer-links {
    @include displayflex();
    flex-direction: column;
    gap: 10px;
    a {
      text-decoration: none;
      color: $white-color;
    }
    i {
      padding-right: 10px;
    }
  }
}
