@use '../buttons' as *;
@use '../../utils/variables' as *;
@use '../../utils/mixins' as *;
@use '../../utils/keyframes' as *;

.menu-container {
  @include displayflexcolumn();
  align-items: center;
  gap: 20px;
  background-color: $light-grey-color;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

  @include media-queries($desktop) {
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 200px;
    margin-right: 200px;
    bottom: 30px;
  }
  .menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include media-queries($desktop) {
      justify-content: center;
      gap: 20px;
    }

    h1 {
      font-family: 'Shrikhand', sans-serif;
      margin-block-end: 0;
      font-weight: 400;
    }

    .cards-icon {
      margin-block-start: 0.83em;
      padding-right: 30px;
    }
  }

  .menu-cards {
    @include displayflexcolumn();
    width: 100%;
    gap: 25px;

    .menu-content {
      @include displayflexcolumn();
      gap: 15px;

      h2 {
        margin-block-start: 0;
        font-weight: lighter;
        border-bottom: 2px solid $third-color;
        width: 50px;
        animation: appear 1s ease-in-out forwards;
        opacity: 0;
      }

      .menu-content-item {
        display: flex;
        justify-content: space-between;
        height: 70px;
        background-color: $white-color;
        border-radius: 15px;
        cursor: pointer;
        animation: appear 3s ease-in-out 0.5s forwards;
        opacity: 0;

        &:hover > .menu-item .menu-item-add {
          animation: flip-in 0.8s ease-in-out both;
        }

        .menu-content-detail {
          width: 50%;
          @include displayflexcolumn();
          gap: 5px;
          padding: 0.7em;

          h3 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-block-start: 0em;
            margin-block-end: 0em;
          }

          .menu-subtitle {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .menu-item {
          display: flex;
          gap: 0.7em;
          .menu-price {
            display: flex;
            justify-content: end;
            align-items: flex-end;
            padding-bottom: 0.7em;
            font-weight: bold;
          }

          .menu-item-add {
            opacity: 0;
            width: 0px;
            height: 70px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: $third-color;
            @include displayflex();
            @include itemcenter();
            animation: flip-out 0.8s ease-in-out both;

            .fa-check {
              @include displayflex();
              @include itemcenter();
              border-radius: 50%;
              width: 22px;
              height: 22px;
              background-color: $white-color;
              color: $third-color;
            }
          }
        }
      }
    }
  }

  .button {
    width: 186px;
    text-align: center;
  }
}
