@use './../utils/mixins' as *;
@use './../utils/keyframes' as *;
@use './../utils/variables' as *;

.button {
  text-decoration: none;
  background: linear-gradient(to right bottom, $second-color, $main-color);
  border-radius: 30px;
  padding: 20px;
  color: white;
  border: 0px solid $main-color;
  @include section-shadow();
  margin: 20px;
  transition-property: transform, box-shadow, opacity;
  transition-duration: 1s;

  &:hover {
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    opacity: 0.9;
  }
}

.cards-icon {
  color: transparent;
  // background-image: linear-gradient(to top, $second-color, $main-color);
  -webkit-background-clip: text;
  // -webkit-text-fill-color: $white-color;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $black-color;

  &:hover {
    animation-name: heart;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
}
