body {
  margin: 0;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body .loading-containeur {
  animation: disappear 1s 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
body .loading-containeur .loadingHomePage {
  border: 10px dashed #9356dc;
  border-top-color: #ff79da;
  border-bottom-color: #ff79da;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: loading;
  animation-duration: 2s;
  animation-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .loading-containeur .loadingHomePage span {
  font-weight: bold;
  background: -webkit-linear-gradient(#9356dc, #ff79da, #99e2d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .homePage {
  opacity: 0;
  animation: startHomePage 1s 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes startHomePage {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 20px;
}
header img {
  width: 197px;
  height: 36px;
}

.location-container {
  background-color: #eaeaea;
  gap: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 15px;
}

footer {
  background-color: #353535;
  padding: 20px;
}
footer img {
  filter: invert(100%);
  height: 27px;
  width: 139px;
  padding-bottom: 20px;
}
footer .footer-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
footer .footer-links a {
  text-decoration: none;
  color: #ffffff;
}
footer .footer-links i {
  padding-right: 10px;
}

.button {
  text-decoration: none;
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  border-radius: 30px;
  padding: 20px;
  color: white;
  border: 0px solid #9356dc;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
  transition-property: transform, box-shadow, opacity;
  transition-duration: 1s;
}
.button:hover {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
  opacity: 0.9;
}

.fa-xl {
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
}
.fa-xl:hover {
  animation-name: heart;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes heart {
  0% {
    opacity: 1;
    transform: scale(0.9);
    -webkit-text-fill-color: #9356dc;
    -webkit-text-stroke-color: #9356dc;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.3);
    -webkit-text-fill-color: #ff79da;
    -webkit-text-stroke-color: #ff79da;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-text-fill-color: #9356dc;
    -webkit-text-stroke-color: #9356dc;
  }
}
.menu-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f6f6f6;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.menu-container .menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.menu-container .menu-title h1 {
  font-family: "Shrikhand", sans-serif;
  margin-block-end: 0;
  font-weight: 400;
}
.menu-container .menu-title i {
  margin-block-start: 0.83em;
  padding-right: 30px;
}
.menu-container .menu-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
.menu-container .menu-cards h2 {
  margin-block-start: 0;
  font-weight: lighter;
  border-bottom: 2px solid #99e2d0;
  width: 50px;
}
.menu-container .menu-cards .menu-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menu-container .menu-cards .menu-content-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.menu-container .menu-cards .menu-content-item .menu-item {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding-left: 0.8em;
  padding-bottom: 0.8em;
}
.menu-container .menu-cards .menu-content-item .menu-item h3 {
  margin-block-start: 0.8em;
  margin-block-end: 0;
}
.menu-container .menu-cards .menu-content-item .menu-item .menu-txt {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.menu-container .menu-cards .menu-content-item .menu-item .menu-txt .menu-price {
  font-weight: bold;
  padding-right: 15px;
}
.menu-container .button {
  width: 186px;
  text-align: center;
  margin-block-end: 0;
}

.restaurants-container {
  padding: 20px;
}
.restaurants-container .restaurants-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.restaurants-container .restaurants-cards a {
  text-decoration: none;
  color: inherit;
}
.restaurants-container .restaurants-cards a .cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
}
.restaurants-container .restaurants-cards a .cards .cards-photo {
  position: relative;
}
.restaurants-container .restaurants-cards a .cards .cards-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cards-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.cards-content .cards-txt h3 {
  margin-block-end: 0.3em;
}
.cards-content .cards-txt p {
  margin-block-start: 0;
}

.badge {
  text-align: center;
  color: #008766;
  background-color: #99e2d0;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 5px;
}

main img {
  width: 100%;
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  align-items: center;
}
header div {
  display: flex;
  justify-content: center;
}

main {
  background-color: #f6f6f6;
}/*# sourceMappingURL=menu-restaurant.css.map */