@keyframes disappear {
  0% {
    opacity: 1;
    height: 900px;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes startHomePage {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes heart {
  0% {
    transform: scale(1);
    opacity: 0.5;
    background-image: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-text-stroke-color: #ffffff;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
    background-image: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-text-stroke-color: #ffffff;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
    background-image: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-text-stroke-color: #ffffff;
  }
}
@keyframes flip-in {
  to {
    width: 70px;
    opacity: 1;
  }
}
@keyframes flip-out {
  from {
    width: 70px;
    opacity: 1;
  }
  to {
    width: 0px;
    opacity: 0;
  }
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
.button {
  text-decoration: none;
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  border-radius: 30px;
  padding: 20px;
  color: white;
  border: 0px solid #9356dc;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
  transition-property: transform, box-shadow, opacity;
  transition-duration: 1s;
}
.button:hover {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
  opacity: 0.9;
}

.cards-icon {
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
}
.cards-icon:hover {
  animation-name: heart;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.menu-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f6f6f6;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1024px) {
  .menu-container {
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 200px;
    margin-right: 200px;
    bottom: 30px;
  }
}
.menu-container .menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .menu-container .menu-title {
    justify-content: center;
    gap: 20px;
  }
}
.menu-container .menu-title h1 {
  font-family: "Shrikhand", sans-serif;
  margin-block-end: 0;
  font-weight: 400;
}
.menu-container .menu-title .cards-icon {
  margin-block-start: 0.83em;
  padding-right: 30px;
}
.menu-container .menu-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
.menu-container .menu-cards .menu-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.menu-container .menu-cards .menu-content h2 {
  margin-block-start: 0;
  font-weight: lighter;
  border-bottom: 2px solid #99e2d0;
  width: 50px;
  animation: appear 1s ease-in-out forwards;
  opacity: 0;
}
.menu-container .menu-cards .menu-content .menu-content-item {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  animation: appear 3s ease-in-out 0.5s forwards;
  opacity: 0;
}
.menu-container .menu-cards .menu-content .menu-content-item:hover > .menu-item .menu-item-add {
  animation: flip-in 0.8s ease-in-out both;
}
.menu-container .menu-cards .menu-content .menu-content-item .menu-content-detail {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0.7em;
}
.menu-container .menu-cards .menu-content .menu-content-item .menu-content-detail h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.menu-container .menu-cards .menu-content .menu-content-item .menu-content-detail .menu-subtitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-container .menu-cards .menu-content .menu-content-item .menu-item {
  display: flex;
  gap: 0.7em;
}
.menu-container .menu-cards .menu-content .menu-content-item .menu-item .menu-price {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-bottom: 0.7em;
  font-weight: bold;
}
.menu-container .menu-cards .menu-content .menu-content-item .menu-item .menu-item-add {
  opacity: 0;
  width: 0px;
  height: 70px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: flip-out 0.8s ease-in-out both;
}
.menu-container .menu-cards .menu-content .menu-content-item .menu-item .menu-item-add .fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  color: #99e2d0;
}
.menu-container .button {
  width: 186px;
  text-align: center;
}/*# sourceMappingURL=cards-menu.css.map */