@keyframes disappear {
  0% {
    opacity: 1;
    height: 900px;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes startHomePage {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes heart {
  0% {
    transform: scale(1);
    background-image: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-text-stroke-color: #ffffff;
  }
  50% {
    transform: scale(1.2);
    background-image: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-text-stroke-color: #ffffff;
  }
  100% {
    transform: scale(1);
    background-image: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-text-stroke-color: #ffffff;
  }
}
@keyframes flip-in {
  to {
    width: 70px;
    opacity: 1;
  }
}
@keyframes flip-out {
  from {
    width: 70px;
    opacity: 1;
  }
  to {
    width: 0px;
    opacity: 0;
  }
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
.button {
  text-decoration: none;
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  border-radius: 30px;
  padding: 20px;
  color: white;
  border: 0px solid #9356dc;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
  transition-property: transform, box-shadow, opacity;
  transition-duration: 1s;
}
.button:hover {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
  opacity: 0.9;
}

.cards-icon {
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
}
.cards-icon:hover {
  animation-name: heart;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.restaurants-container {
  padding: 20px;
}
.restaurants-container .restaurants-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .restaurants-container .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
  }
}
.restaurants-container .restaurants-cards a {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 1024px) {
  .restaurants-container .restaurants-cards a {
    padding-bottom: 30px;
    width: 45%;
  }
}
.restaurants-container .restaurants-cards a .cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
}
.restaurants-container .restaurants-cards a .cards .cards-photo {
  position: relative;
}
.restaurants-container .restaurants-cards a .cards .cards-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cards-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.cards-content .cards-txt h3 {
  margin-block-end: 0.3em;
}
.cards-content .cards-txt p {
  margin-block-start: 0;
}

.badge {
  text-align: center;
  color: #008766;
  background-color: #99e2d0;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 5px;
}/*# sourceMappingURL=cards-homepage.css.map */